@model NoSQL_Project.ViewModels.TicketViewModel;

<div class="p-4 m-2 bg-light rounded-3">
    <div class="container-fluid">
        <h1 class="display-5 fw-bold align-content-sm-around">My Tickets</h1
            <button class="btn btn-dark">Filter</button>
    </div>
</div>
<div>
    @foreach(var ticket in Model.TicketList)
    {
        <card class="stretched-link" asp-action="">
            <div>
                <h2 class="card-title">@ticket.Title</h2>
                <p class="card-body">@ticket.CreatedAt.Date</p>
            </div>
            <p class="badge">@ticket.Status</p>
        </card>
    }
    <div class="d-grid gap-2 col-6 mx-auto">
       <button class="btn btn-primary" type="button" asp-action="AddTicket">Create a New Ticket</button>
    </div>
</div>